<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div class="page-header" style="text-align:center">
        <h1>
          Welcome to {{title}}!
        </h1>
      </div>
    </div>

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="javascript:void(0)" (click)="genarateBarChart()">Genarate D3 bar chart</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 02</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 03</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 04</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 05</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 06</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 07</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 08</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 09</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 10</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 11</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 12</a></li>
        <li role="presentation"><a href="javascript:void(0)">Example 13</a></li>
      </ul>
    </div>


    <div class="col-md-10">
      <div #d3Container></div>
    </div>

  </div>
</div>
